div#outer{
	background-color: #4f2c73;
	width: 98%;
	height: 97%;

	div#left{
		width: 48%;
		height: 98%;
		float: left;
		padding: 1%;

		div#vault{
			width: 100%;
			height: 50%;
			
			div#vault_table{
				text-align: center;
				overflow-y: auto;
				width: 100%;
				height: 80%;

				table{
					width: 100%;
					height: 100%;
					
					th{
						color: #fff;
					}
					td{
						color: #fff;
						font-size: 110%;
						padding: 2%;
					}
					tr.even{
						background-color: #21053e;
					}
					tr.odd{
						background-color: #4F2C73;
					}
				}
			}
		}

		div#my_vault{
			width: 100%;
			height: 50%;

			div#my_vault_table{
				overflow-y: auto;
				text-align: center;
				width: 100%;
				height: 80%;

				table{
					width: 100%;
					height: 100%;

					th{
						color: #fff;
					}
					td{
						color: #fff;
						font-size: 110%;
						padding: 2%;
					}
					tr.even{
						background-color: #21053e;
					}
					tr.odd{
						background-color: #4F2C73;
					}
				}
			}
		}
	}

	div#right{
		width: 50%;
		height: 100%;
		float: right;
		div#top{
			width: 100%;
			height: 50%;

			div#playlist{
				width: 50%;
				height: 100%;
				float: left;
				text-align: center;

				button{
					width: 80%;
					color: #fff;
					background: none;
					background-color: #230236;
					border: none;
					margin-bottom: 10px;
					padding: 1%;
					font-size: 140%;
				}

				div#playlist_buttons{
					background-color: #21053e;
					border-radius: 10px;

					button{
						width: 80%;
						border: none;
						background: none;
						color: #fff;
						font-size: 140%;

						padding: 2%;
						margin: 1%;
					}
				}

			}

			div#song{
				width: 50%;
				height: 100%;
				float: right;
				div#song_list{
					width: 100%;
					height: 85%;
					overflow-y: auto;
				}
				
				ul{
					list-style: none;

				}

				li{
					padding: 2%;
					color: #fff;
					font-size: 130%;

				}
				button{
					border: none;
					background: none;
					color: #fff;
					font-size: 110%;
				}
			}
		}
	}
}