div#outer{
	width: 100%;
	height: 100vh;
	margin: 20px;
	padding: 20px;
	background-color: #4F2C73;

	h1, h3, h4, label{
		color: #fff;
	}

	table{
		width: 100%;
		height: 100%;
		tr{
			td{
				vertical-align: top;
				width: 20%;
				
				div.inner{
					overflow: scroll;
				}
				button{
					border: none;
					background-color: Transparent;
					color: #fff;
					font-size: 20px;
				}
			}
		}
	}
	
}